.app {
    position: relative;
    height: 100vh;
    .shell {
        position: absolute;
        z-index: 10;
        &--top-right {
            right: 0;
        }
        &--top {
            left: 50%;
            transform: translateX(-50%);
        }
        &--center {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 15;
        }
        &--bottom-right {
            right:0;
            bottom: 0;
        }
    }

    .backdrop {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .body {
        height: 100%;
    }
}
